<main role="main">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3">Custom Bikes Garage</h1>
      <p>Motorcycle builders and road lovers</p>
      <p>
        <a [routerLink]="['/register']" role="button" class="btn btn-primary btn-lg">Register</a>
      </p>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi harum excepturi veniam
          dignissimos ea perferendis. Consequatur ullam eos quod. Amet nisi vel, inventore commodi nostrum illo maxime
          ullam sit!</p>

        <p>
          <a href="#" class="btn btn-secondary" role="button">View details &raquo;</a>
        </p>
      </div>

      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi harum excepturi veniam
          dignissimos ea perferendis. Consequatur ullam eos quod. Amet nisi vel, inventore commodi nostrum illo maxime
          ullam sit!</p>

        <p>
          <a href="#" class="btn btn-secondary" role="button">View details &raquo;</a>
        </p>
      </div>

      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi harum excepturi veniam
          dignissimos ea perferendis. Consequatur ullam eos quod. Amet nisi vel, inventore commodi nostrum illo maxime
          ullam sit!</p>

        <p>
          <a href="#" class="btn btn-secondary" role="button">View details &raquo;</a>
        </p>
      </div>

    </div>
  </div>
</main>
